/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test with salmon. Use as follows:
 *   nextflow run nf-core/rnaseq -profile minimal_salmon_quant_test
 */

params {

  input = "s3://nf-core-awsmegatests/rnaseq/input_data/minimal/GSE110004/*_[1,2].fastq.gz"
  fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa"
  gtf = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf"
  gff = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff"
  transcript_fasta = "https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta"
  additional_fasta = "s3://manu-data-public/rnaseq_files/gfp.fa"
  umitools_bc_pattern = "NNNN"
  pseudo_aligner = "salmon"
  genome = "GRCh38"
  skip_alignment = true
